@page {
  size: A4;
  margin: 0;
}

@media print {
  html, body {
      font-size: 10px!important;
  }
  
  .dv-page-container {
      /* min-height: 1056px!important; */
      padding-top: 0!important;
      position: relative;
      page-break-after: always!important;
      width: 100%!important;
      height: 100%!important;
      margin-left: 2px!important;
  }

  .dv-page-container-landscape {
      page-break-after: always!important;
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 100vh;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0;
  }
  
  .section-header {
      display: block!important;
      padding-top: 20px!important;
  }
  
  table > tbody > tr:nth-of-type(odd) {
    background-color: #e7f0fa!important;
  }

  table tr, td, th {
      border: 1px solid #000;
      font-size: 10px!important;
  }
  
  h2 {
      font-size: 15px!important;
  }
  
  h5 {
      font-size: 10px!important;
  }
  
  .logo-left {
      /* max-height: 60px !important; */
      width:  60px!important;
      height: 60px!important;
      float: left;
  }

  
  .logo-right {
      /* max-height: 60px !important; */
      width: 60px!important;
      height: 60px!important;
      float: right;
  }

  .tbl-emp-sched,
  .tbl-emp-sched thead tr td,
  .tbl-emp-sched tbody tr td {
      border: 0!important;
  }
  
  .table-striped > tbody > tr:nth-of-type(even) {
    background-color: #e7f0fa!important;
  }

  .tbl-salmon > tbody > tr:nth-of-type(even){
    background-color: #fef7f0!important;
  }
  
  .table td,
  .table th {
      background-color: inherit !important;
  }
  
  tr td.dark-shaded {
      background-color: #cfd4e0 !important;
  }

  tr td.background-white {
      background-color: #fff!important;
  }
  
  tr td.td-section-dark-gray {
    background-color: #555!important;
    color: #fff!important;
  }

  tr td.td-subsection {
    background-color: #a9aaab!important;
    color: #fff!important;
  }

  .tbl-actionkey tr td {
      width: 100%;
      border: hidden!important;
      background-color: #fff!important;
  }
  
  .dv-gm {
      margin-bottom: 20px!important;
  }
  
  .border1 {
      border: 1px solid #000;
  }

  .dv-gm-img {
      border: 1px solid!important;
      margin-left: 10px!important;
      overflow: auto!important;
      width: 70%!important;
      float: right!important;
      margin-top: -10px!important;
      min-height: 25px;
  }
  
  .dv-page-num {
      position: absolute;
      display: block;
      float: left;
      font-weight: bold;
      bottom: 0;
      padding: 10px;
  }

  .dv-title-page {
      width: 100%!important;
      display: flex!important;
      align-items: center!important;
      justify-items: center!important;
  }

  * {
      -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
      color-adjust: exact !important;                 /*Firefox*/
    }
}