body {
    background-color: white;
    font-size: 12px!important;
    color: #000!important;
    font-family: sans-serif!important;
}

.tbl-emp-sched {
    border: 0!important;
}

.tbl-emp-sched thead tr td {
    vertical-align: middle!important;
    font-weight: 500!important;
    font-size: 12px!important;
    border-bottom: 1px solid #ccc;
}

.tbl-emp-sched tbody tr td {
    font-family: sans-serif!important;
    font-weight: 100!important;
    vertical-align: middle!important;
    border-top-color: #ddd!important;
}

table tr, td, th {
    font-size: 12px!important;
    border-color: #000!important;
    border-top-color: #000!important;
    text-align: center;
    font-family: sans-serif!important;
}

table {
    border-top-color: #000!important;
}

table thead td {
    background-color: #fff!important;
}

.dv-page-container {
    padding-top: 10px;
    /* width: 21cm; */
    /* min-height: 29.7cm; */
    /* position: relative; */
    /* border: 1px solid #000;
    background-color: yellow; */
    /* padding: 2cm; */
    /* margin: 1cm auto; */
    /* border: 1px #D3D3D3 solid; */
    /* border-radius: 5px; */
    /* background: white; */
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
}

.tbl-salmon > tbody > tr:nth-of-type(even){
    background-color: #fef7f0!important;
}

thead td, .tbl-header-bold {
    text-align: center; /* Horizontal Align */
    vertical-align: middle!important; /* Vertical Align */
    font-weight: bold;
    font-size: 12px;
}

tbody td {
    font-size: 12px;
     vertical-align: middle!important; /* Vertical Align */
}

.tdNotes {
    background-color: white;
}

.dvNotes {
    min-height: 85px;
    max-height: 85px;
    background-color: white;
}

.dvMediumNotes {
    min-height: 130px;
    max-height: 130px;
    background-color: white;
}

.dvLargeNotes {
    min-height: 331px;
    max-height: 331px;
    background-color: white;
}

.tdCheckbox {
    text-align: center;
    vertical-align: middle;
}

.paddingRight10px {
    padding: 0 10px 0 0;
}

.paddingLeft10px {
    padding: 0 0 0 10px;
}

.padding0 {
    padding: 0!important;
}

.blank-cell {
    background-color: #ccc;
}

.text-center {
    text-align: center;
}

.dvTimestamp {
    font-size: 10px;
}

.blankWhite {
    background-color: white;
}

.vertical-text {
/*	transform: rotate(-90deg);*/
    -ms-transform:rotate(270deg); /* IE 9 */
    -moz-transform:rotate(270deg); /* Firefox */
    -webkit-transform:rotate(270deg); /* Safari and Chrome */
    -o-transform:rotate(270deg); /* Opera */
}

.height69px {
    height: 69px;
}

.height80px {
    height: 80px!important;
}

.border0 {
    border: 0!important;
}

.black-shaded {
    background-color: #000;
}

.dark-shaded {
    background-color: #cfd4e0;
}

.darker-shaded {
    background-color: #C2C2C2!important;
}

.paddingTop30px {
    padding-top: 30px;
}

.titleLabel {
    background-color: #F5F5F6;
    font-weight: bold;
}

.spacer-30 {
    height: 30px;
}

.span-gm-label {
    float: left;
    margin-right: 10px;
    font-weight: 600;
}

.td-ccp-ca {
    border-right: 0!important;
}

.td-initial {
    border-left: 0!important;
    border-right: 0!important;
}

.td-opsLeader {
    border-left: 0!important;
}

.dv-title {
    font-size: 12px!important;
}

.span-title {
    font-size: 12px!important;
    font-weight: bold;
}
.note-title-label {
    font-weight: bold;
    margin: -5px 30px -5px 0;
}

.dv-desc-note {
    font-size: 12px;
}

.table tr td {
    line-height: 1!important;
    vertical-align: top!important;
}

.tbl-FRPUW {
    width: 100%;
    border: hidden!important;
}

.tbl-FRPUW tr td {
    border: 0!important;
}

.tbl-actionkey {
    width: 100%;
    border: hidden!important;
}

.spacer-30 {
    height: 30px;
}

.span-gm-label {
    font-weight: 600;
    float: left;
}

.dv-gm {
    margin-bottom: 20px;
}

/*
.dv-gm-img {
    border: 1px solid;
    margin-top: 20px;
    overflow: auto;
    width: 100%;
}
*/

.dv-gm-img {
    border: 1px solid;
    margin-left: 10px;
    overflow: auto;
    width: 70%;
    float: right;
    margin-top: -10px;
    min-height: 100px;
}

.text-light-gray {
  color: #484848;
}

.vertical-text-top {
    vertical-align: text-top!important;
}

.background-white {
    background-color: #fff!important;
}

.lightBlueShade {
  background-color: #e7f0fa;
}

.dv-header-subItem {
    margin-top: 5px;
    font-weight: normal;
}

.subItem {
    margin-top: 5px;
    font-weight: normal;
    font-style: italic;
}

.span-item-temp {
    float: right;
    padding-right: 20px;
    font-weight: bold;
}

.td-day {
    background-color: #9da7b1!important;
}

.section-header:not(.dv-first) {
    display: none;
}

.dv-page-num {
    display: none;
    bottom: 0;
    float: left;
    padding: 10px;
    font-weight: bold;
}

.dv-title-page {
    display: none!important;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center!important;
    justify-items: center!important;
}

.td-header {
    background-color: #FFFFFF!important;
    text-align: center!important;
    font-weight: bold!important;
}

.dv-comments {
    height: 70px;
    min-height: 70px;
    max-height: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.text-left {
    text-align: left!important;
}

.text-right {
    text-align: right!important;
}
.td-img {
    text-align: center;
    vertical-align: middle!important;
}
.tdbottom{
    vertical-align: bottom!important;
}

div.vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-left {
    float: left;
    max-height: 90px;
}

.logo-right {
    float: right!important;
    max-height: 80px;
}

.header-title {
    font-size: 22px;
    font-weight: 500;
}
.subtitle-orange {
    color: #ff8000!important;
    font-size: 18px!important;
    font-weight: 400!important;
    margin-top: -5px!important;
}

.subtitle {
    font-size: 15px!important;
    font-weight: 400!important;
    margin-top: -5px!important;
}

.padding-bottom-10 {
    padding-bottom: 10px!important;
}

.dv-splash {
    margin-top: -200px!important;
    width: 100%;
    text-align: center;
}

.splash-title {
    font-size: 50px;
    font-weight: bold;
}

.td-title-day {
    /* transform: rotate(270deg)!important; */
    writing-mode: tb;
    font-size: 16px!important;
    font-weight: bold!important;
    text-align: center!important;
    background-color: #cfd4e0;
}

.dv-actionkey-value {
    float: left;
    font-weight: bold;
    margin-left: 10px;
    width: 100%;
    text-align: left;
}

.img-puw-signature {
    width: 180px;
    height: 80px;
    max-width: 180px;
    max-height: 80px;
}

.title-box-orange {
    border: 1px solid #ff8000;
    width: 250px;
    text-align: center;
    color: #fff!important;
    background-color: #ff8000;
    border-radius: 5px;
    padding: 5px;
    margin: 10px auto;
    font-size: 15px;
}